.sbt-banner {
  color: black;
  text-align: right;
  border-bottom: solid 3px black;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: right;
  width: 100%;
}

.sbt-title {
  padding-left: 42px;
}

.sbt-logo {
  height: 60px;
  width: 60px;
  align-items: right;
}
