/* @tailwind base; */
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sbt-layout-inner {
  display: flex;
  flex-direction: row;

}

.sbt-cart {
	/* color: black;
	background-color:bisque;
	padding: 32px;
  display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 300px; */

  background: white;
  width: 350px;
  height: 100%;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sbt-cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s , visibility 0s;
  z-index: 1000;
}

.sbt-cart-overlay.open {
  opacity: 1;
  visibility: visible;
}

/* Bouton pour fermer le cart */
.sbt-cart-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.sbt-cart-close svg {
  color: #333;
  transition: color 0.2s ease;
}

.sbt-cart-close:hover svg {
  color: #ff0000;
}


.sbt-cart-add-button {
  margin-left: 32px;
	cursor: pointer;
}

.sbt-cart-toggle-button {
	background: none;
	outline: none;
	border: none;
	font-weight: 600;
	cursor: pointer;
	align-self: self-start;
	padding: 0;
	color: white;
}

.sbt-cart-closed {
	padding: 32px;
	width: 200px;
}

.sbt-cart-closed > button {
	color: black;
}

.sbt-product-item-cover{
	height: 250px;
	width: 250px;
	border-radius: 20px;
	object-fit: cover;
	/* border-bottom: 1px solid #ddd; */
	
  }

  .sbt-product-item{
  margin: 10px;
  display: flex; 
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-transform: capitalize;
   /* border : solid 2px black; 
   border-radius: 10px;
   height: 300px;
   width: 300px;
   margin: 10px;
   position: relative;
   list-style: none;
   background-color: white;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   transition: transform 0.2s; */
 
 }
/* 
.sbt-sales{
  position: absolute;
 right: 0px;
top: 10px;
font-weight: 500;
color: white;
padding: 5px 10px;
background-color: #31b572;
border-radius: 5px;

} */

.sbt-product-list{
  list-style-type: none;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* max-width: 800px; */
  /* gap: 20px; */
  /* grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); */

}

.sbt-shopping-list {
  width: 100%;

}

.sbt-categories {
	text-align: center;
	padding-top: 30px;
}

.sbt-categories-select {
	margin-right: 15px;
}

.sbt-footer {
	color: black;
	padding: 32px;
	border-top: solid 3px black;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	font-weight: 500;
}

/* .sbt-footer-elem {
	margin-bottom: 10px;
} */

.login-popin-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index:  9999; 
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
                          

}

.login-popin-content{
  background: #fff;
  width: 350px; /* Largeur du pop-in */
  height: 100vh; /* Prend toute la hauteur */
  padding: 1.5rem;
  /* border-radius: 12px; */
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  right: -350px;
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;

}
.login-popin-open .login-popin-content{
  right: 0;
}

.login-popin-content .login-popin-content-visible{
  opacity: 1;
  transform: translateX(0);
}
.login-popin-content h2{
  text-align: center;
}

.login-popin-content form{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

}

.login-popin-content form div{
  margin-bottom: 1rem;
}

.login-popin-content label{
  font-weight: bold;
  
}

.login-popin-content input{
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-popin-close-button{
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;

}

.login-popin-submit-button{
  padding: 0.75rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

.login-popin-submit-button:hover{
  background-color: #45a049;
}

.login-popin-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;

}

.login-popin-button:hover {
  color: #0056b3;
}